:root{
    --primaryColor--: #4BCFFA;
}
body{
   
    margin: 0px;
}

.container-center{
    max-width: 500px;
    margin:auto;
   padding:1rem 0rem;
}


header{
    text-align: center;
    padding: 1rem 1rem;
    background-color: var(--primaryColor--);
    
    border: 1 px solid;
    
    
}
button{
    padding:1rem 1rem;
    background-color:var(--primaryColor--);
    border:none;
  
}
.text-area{
    height: 10rem; 
    width: 100% ;
    padding: 1rem 1rem;
    border: solid 1px; 
    
    
}

footer{
    padding: 1rem 1rem;
    text-align:center;
    border: 1rem;
    background-color: var(--primaryColor--);
}